#header{
	text-rendering: auto;
	background: black;
}

img{
	text-align: center;
	float: left;
}

#left{
	top:0;
	text-align: left;
	float: left;
	width: 30%;
	
}

#middle{
	float: left;
	width: 40%;
	text-align: center;
}

#right{
	top: 0;
	text-align: right;
	float: left;
	width: 30%;
	font-size: 16px;
}

#menu{
	width: 100%;
	height: 60px;
	background-color: pink;
}

#content{
	width: 100%;
	height: 600px;
	background-color: blue;
}

input[type="text"] {
      width: 130px;
      box-sizing: border-box;
      border: 1px solid black;
      border-radius: 4px;
      outline:none;
      padding: 12px 14px;
      transition: 0.6s ease-in-out;
}

input[type="text"]:focus{
    width:200px; 
    background-color: pink;
}


#footer{
	text-rendering: auto;
}

body{
	margin: 5px;
}
.clear{
	clear: both;
}

*, ::after, ::before{
	box-sizing: inherit;
}

.header-options{
	font-size: .9em;
	list-style: none;
	margin-bottom: 0;
}
.header-options li:first-of-type{
	border: 0;
}

.header-options li{
	border-left: 1px solid #deele3;
	display: inline-block;
	padding: 0 .5em;
}


#headerSignIn{
	width: 33%
	float: right;
}

#contact-us{
	width: 33%;
	float: right;
}

#checkout-icon{
	width: 33%;
	float: right;
}

a, a:hover{
	color: #8a979e;
}


.header-options li i{
	display: inline-block;
	font-size: inherit;
	text-rendering: auto;

}

.bar{
	display: none;
}

@media only screen and (max-width: 1300px){
	#headerSignIn{
		display: none;
	}
	#contact-us{
		display: none;
	}
	#checkout-icon{
		display: none;
	}

	.bar{
		text-align:  right;
		display: inline;
	}
}